name: CI
on:
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'docs/**'

permissions:
  pull-requests: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/upload-artifact@v5
        with:
          name: action.yml
          path: action.yml

  test:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    needs: [build]
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: main

      - name: Create change
        run: date +%s > report.txt

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: '[CI] test ${{ matrix.os }}'
          title: '[CI] test ${{ matrix.os }}'
          body: |
            - CI test case for target '${{ matrix.os }}'

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          branch: ci-test-${{ matrix.os }}-${{ github.sha }}

      - uses: actions/download-artifact@v5
        with:
          name: action.yml
          path: .

      - name: Close Pull
        uses: ./
        with:
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          comment: |
            [CI]
            test ${{ matrix.os }}
          delete-branch: true
